<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html::head"></head>
<head><title>로그인 화면</title></head>
<body class="bg-light">
<div th:replace="fragments.html::main-nav"></div>
<div class="container">
    <div class="row mt-5 justify-content-center">
        <h5 th:if="${#lists.isEmpty(partyList)}" class="font-weight-light">참석할 모임이 없습니다.</h5>
        <div th:each="list: ${partyList}" th:if="${!#lists.isEmpty(partyList)}">
            <div class="col-sm-3">
                <div class="card" style="width: 200px">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${list.getName()}">모임명</h5>
                        <h6 class="card-subtitle mb-2 text-muted" th:text="${list.getLocation()}">지역명</h6>
                        <p class="card-text" th:text="${list.getDescription()}">모임 소개</p>
                        <a href="#" class="card-link" th:href="@{'/party/'+${list.getId()}+'/profile/'}">이동</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments.html::footer"></div>
</body>
</html>

